# Python
venv/
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Uploads
uploads/
backend/uploads/

# Vector Index / Local Data
faiss_index*
*.index

# Environment Variables
.env

# Node
frontend/node_modules/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db